appsettings.json
obj/Debug/net8.0/API.AssemblyInfo.cs
obj/Debug/net8.0/API.AssemblyInfoInputs.cache
obj/Debug/net8.0/API.AssemblyInfo.cs
obj/Debug/net8.0/API.AssemblyInfoInputs.cache
dating.db-shm
dating.db-wal
